.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
tests
docs/*.html
docs/*.pdf
docs/*.pdf:Zone.Identifier
*.md
!README.md
